data/mysql/#ib_16384_0.dblwr
data/mysql/#ib_16384_1.dblwr
data/mysql/auto.cnf
data/mysql/binlog.000001
data/mysql/binlog.000002
data/mysql/binlog.index
data/mysql/ca-key.pem
data/mysql/ca.pem
data/mysql/client-cert.pem
data/mysql/client-key.pem
data/mysql/ib_buffer_pool
data/mysql/ibdata1
data/mysql/ibtmp1
data/mysql/mysql.ibd
data/mysql/mysql.sock
data/mysql/private_key.pem
data/mysql/public_key.pem
data/mysql/server-cert.pem
data/mysql/server-key.pem
data/mysql/undo_001
data/mysql/undo_002
data/mysql/#innodb_redo/#ib_redo9
data/mysql/#innodb_redo/#ib_redo10_tmp
data/mysql/#innodb_redo/#ib_redo11_tmp
data/mysql/#innodb_redo/#ib_redo12_tmp
data/mysql/#innodb_redo/#ib_redo13_tmp
data/mysql/#innodb_redo/#ib_redo14_tmp
data/mysql/#innodb_redo/#ib_redo15_tmp
data/mysql/#innodb_redo/#ib_redo16_tmp
data/mysql/#innodb_redo/#ib_redo17_tmp
data/mysql/#innodb_redo/#ib_redo18_tmp
data/mysql/#innodb_redo/#ib_redo19_tmp
data/mysql/#innodb_redo/#ib_redo20_tmp
data/mysql/#innodb_redo/#ib_redo21_tmp
data/mysql/#innodb_redo/#ib_redo22_tmp
data/mysql/#innodb_redo/#ib_redo23_tmp
data/mysql/#innodb_redo/#ib_redo24_tmp
data/mysql/#innodb_redo/#ib_redo25_tmp
data/mysql/#innodb_redo/#ib_redo26_tmp
data/mysql/#innodb_redo/#ib_redo27_tmp
data/mysql/#innodb_redo/#ib_redo28_tmp
data/mysql/#innodb_redo/#ib_redo29_tmp
data/mysql/#innodb_redo/#ib_redo30_tmp
data/mysql/#innodb_redo/#ib_redo31_tmp
data/mysql/#innodb_redo/#ib_redo32_tmp
data/mysql/#innodb_redo/#ib_redo33_tmp
data/mysql/#innodb_redo/#ib_redo34_tmp
data/mysql/#innodb_redo/#ib_redo35_tmp
data/mysql/#innodb_redo/#ib_redo36_tmp
data/mysql/#innodb_redo/#ib_redo37_tmp
data/mysql/#innodb_redo/#ib_redo38_tmp
data/mysql/#innodb_redo/#ib_redo39_tmp
data/mysql/#innodb_redo/#ib_redo40_tmp
data/mysql/#innodb_temp/temp_1.ibt
data/mysql/#innodb_temp/temp_2.ibt
data/mysql/#innodb_temp/temp_3.ibt
data/mysql/#innodb_temp/temp_4.ibt
data/mysql/#innodb_temp/temp_5.ibt
data/mysql/#innodb_temp/temp_6.ibt
data/mysql/#innodb_temp/temp_7.ibt
data/mysql/#innodb_temp/temp_8.ibt
data/mysql/#innodb_temp/temp_9.ibt
data/mysql/#innodb_temp/temp_10.ibt
data/mysql/mysql/general_log_213.sdi
data/mysql/mysql/general_log.CSM
data/mysql/mysql/general_log.CSV
data/mysql/mysql/slow_log_214.sdi
data/mysql/mysql/slow_log.CSM
data/mysql/mysql/slow_log.CSV
data/mysql/performance_schema/accounts_145.sdi
data/mysql/performance_schema/binary_log_trans_189.sdi
data/mysql/performance_schema/cond_instances_82.sdi
data/mysql/performance_schema/data_lock_waits_161.sdi
data/mysql/performance_schema/data_locks_160.sdi
data/mysql/performance_schema/error_log_83.sdi
data/mysql/performance_schema/events_errors_su_139.sdi
data/mysql/performance_schema/events_errors_su_140.sdi
data/mysql/performance_schema/events_errors_su_141.sdi
data/mysql/performance_schema/events_errors_su_142.sdi
data/mysql/performance_schema/events_errors_su_143.sdi
data/mysql/performance_schema/events_stages_cu_111.sdi
data/mysql/performance_schema/events_stages_hi_112.sdi
data/mysql/performance_schema/events_stages_hi_113.sdi
data/mysql/performance_schema/events_stages_su_114.sdi
data/mysql/performance_schema/events_stages_su_115.sdi
data/mysql/performance_schema/events_stages_su_116.sdi
data/mysql/performance_schema/events_stages_su_117.sdi
data/mysql/performance_schema/events_stages_su_118.sdi
data/mysql/performance_schema/events_statement_119.sdi
data/mysql/performance_schema/events_statement_120.sdi
data/mysql/performance_schema/events_statement_121.sdi
data/mysql/performance_schema/events_statement_122.sdi
data/mysql/performance_schema/events_statement_123.sdi
data/mysql/performance_schema/events_statement_124.sdi
data/mysql/performance_schema/events_statement_125.sdi
data/mysql/performance_schema/events_statement_126.sdi
data/mysql/performance_schema/events_statement_127.sdi
data/mysql/performance_schema/events_statement_128.sdi
data/mysql/performance_schema/events_statement_129.sdi
data/mysql/performance_schema/events_statement_130.sdi
data/mysql/performance_schema/events_transacti_131.sdi
data/mysql/performance_schema/events_transacti_132.sdi
data/mysql/performance_schema/events_transacti_133.sdi
data/mysql/performance_schema/events_transacti_134.sdi
data/mysql/performance_schema/events_transacti_135.sdi
data/mysql/performance_schema/events_transacti_136.sdi
data/mysql/performance_schema/events_transacti_137.sdi
data/mysql/performance_schema/events_transacti_138.sdi
data/mysql/performance_schema/events_waits_cur_84.sdi
data/mysql/performance_schema/events_waits_his_85.sdi
data/mysql/performance_schema/events_waits_his_86.sdi
data/mysql/performance_schema/events_waits_sum_87.sdi
data/mysql/performance_schema/events_waits_sum_88.sdi
data/mysql/performance_schema/events_waits_sum_89.sdi
data/mysql/performance_schema/events_waits_sum_90.sdi
data/mysql/performance_schema/events_waits_sum_91.sdi
data/mysql/performance_schema/events_waits_sum_92.sdi
data/mysql/performance_schema/file_instances_93.sdi
data/mysql/performance_schema/file_summary_by__94.sdi
data/mysql/performance_schema/file_summary_by__95.sdi
data/mysql/performance_schema/global_status_181.sdi
data/mysql/performance_schema/global_variables_184.sdi
data/mysql/performance_schema/host_cache_96.sdi
data/mysql/performance_schema/hosts_146.sdi
data/mysql/performance_schema/keyring_componen_191.sdi
data/mysql/performance_schema/keyring_keys_152.sdi
data/mysql/performance_schema/log_status_174.sdi
data/mysql/performance_schema/memory_summary_b_154.sdi
data/mysql/performance_schema/memory_summary_b_155.sdi
data/mysql/performance_schema/memory_summary_b_156.sdi
data/mysql/performance_schema/memory_summary_b_157.sdi
data/mysql/performance_schema/memory_summary_g_153.sdi
data/mysql/performance_schema/metadata_locks_159.sdi
data/mysql/performance_schema/mutex_instances_97.sdi
data/mysql/performance_schema/objects_summary__98.sdi
data/mysql/performance_schema/performance_time_99.sdi
data/mysql/performance_schema/persisted_variab_187.sdi
data/mysql/performance_schema/prepared_stateme_175.sdi
data/mysql/performance_schema/processlist_100.sdi
data/mysql/performance_schema/replication_appl_165.sdi
data/mysql/performance_schema/replication_appl_166.sdi
data/mysql/performance_schema/replication_appl_167.sdi
data/mysql/performance_schema/replication_appl_168.sdi
data/mysql/performance_schema/replication_appl_170.sdi
data/mysql/performance_schema/replication_appl_171.sdi
data/mysql/performance_schema/replication_asyn_172.sdi
data/mysql/performance_schema/replication_asyn_173.sdi
data/mysql/performance_schema/replication_conn_162.sdi
data/mysql/performance_schema/replication_conn_164.sdi
data/mysql/performance_schema/replication_grou_163.sdi
data/mysql/performance_schema/replication_grou_169.sdi
data/mysql/performance_schema/rwlock_instances_101.sdi
data/mysql/performance_schema/session_account__151.sdi
data/mysql/performance_schema/session_connect__150.sdi
data/mysql/performance_schema/session_status_182.sdi
data/mysql/performance_schema/session_variable_185.sdi
data/mysql/performance_schema/setup_actors_102.sdi
data/mysql/performance_schema/setup_consumers_103.sdi
data/mysql/performance_schema/setup_instrument_104.sdi
data/mysql/performance_schema/setup_objects_105.sdi
data/mysql/performance_schema/setup_threads_106.sdi
data/mysql/performance_schema/socket_instances_147.sdi
data/mysql/performance_schema/socket_summary_b_148.sdi
data/mysql/performance_schema/socket_summary_b_149.sdi
data/mysql/performance_schema/status_by_accoun_177.sdi
data/mysql/performance_schema/status_by_host_178.sdi
data/mysql/performance_schema/status_by_thread_179.sdi
data/mysql/performance_schema/status_by_user_180.sdi
data/mysql/performance_schema/table_handles_158.sdi
data/mysql/performance_schema/table_io_waits_s_107.sdi
data/mysql/performance_schema/table_io_waits_s_108.sdi
data/mysql/performance_schema/table_lock_waits_109.sdi
data/mysql/performance_schema/threads_110.sdi
data/mysql/performance_schema/tls_channel_stat_190.sdi
data/mysql/performance_schema/user_defined_fun_188.sdi
data/mysql/performance_schema/user_variables_b_176.sdi
data/mysql/performance_schema/users_144.sdi
data/mysql/performance_schema/variables_by_thr_183.sdi
data/mysql/performance_schema/variables_info_186.sdi
data/mysql/sys/sys_config.ibd
data/mysql/vaksinasi/locations.ibd
data/mysql/vaksinasi/login.ibd
data/mysql/vaksinasi/users.ibd
data/mysql/vaksinasi/vaksin.ibd
